#jobs {
    margin-inline: auto;
    max-width: 65rem;
    margin-bottom: 9rem;

    header {
        align-items: center;

        & span {
            font: var(--text-inconsolata-subtitle);
            color: var(--red);
            /* margin-top: 4.5rem; */
        }

        & h2 {
            font: var(--text-asap-md);
            color: var(--gray-600);
            margin-top: 0.5rem;
        }
    }

    main {
        margin-top: 3.5rem;

        grid-auto-flow: row;

        & .card-container {
            background-color: var(--gray-300);
            padding: 1rem;
            border-radius: 0.75rem;
            border: 1.5px solid transparent;

            & img {
                border-radius: 0.5rem;
            }

            & small {
                margin-top: 1.25rem;
                font: (--text-maven-sm);
                color: var(--gray-600);
            }

            & span {
                margin-top: 0.5rem;
                font: var(--text-maven-sm);
                color: var(--gray-500);
            }

            &:hover {
                border: 1.5px solid var(--gray-400);
                cursor: pointer;
            }
        }
    }
}

.background {
    background-color: var(--gray-100);
}

#type-jobs {
    margin-inline: auto;
    max-width: 65rem;
    height: 30rem;

    header {
        align-items: center;

        & span {
            font: var(--text-inconsolata-subtitle);
            color: var(--red);
            margin-top: 4.5rem;
        }

        & h2 {
            font: var(--text-asap-md);
            color: var(--gray-600);
            margin-top: 0.5rem;
        }
    }

    & main {
        grid-auto-flow: row;
        margin-top: 3.5rem;

        & div {
            padding: 1.25rem;
            border: 2px solid var(--gray-200);
            border-radius: 0.75rem;

            & h2 {
                color: var(--gray-600);
                font: var(--text-asap-sm);
                margin-top: 1.25rem;
            }

            & small {
                color: var(--gray-500);
                font: var(--text-maven-sm);
                margin-top: 0.5rem;
            }
        }
    }
}

.background-contato {
    background-image: url(../assets/images/Background_Contacts.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#contact {
    max-width: 26.25rem;
    margin: 8rem auto 12.5rem;
    /* height: 49.187rem; */

    header {
        align-items: center;

        & span {
            font: var(--text-inconsolata-subtitle);
            color: var(--purple);
        }

        & h2 {
            font: var(--text-asap-md);
            color: var(--gray-600);
            margin-top: 0.5rem;
        }

        & small {
            font: var(--text-maven-md);
            color: var(--gray-500);
            margin: 0.5rem 0 3rem;
        }
    }

    .container-contato {
        width: 100%;
        background-color: var(--gray-300);
        padding: 1.25rem;

        flex-direction: row;
        justify-content: space-between;
        align-content: center;

        border-radius: 0.5rem;
        border: 1.5px solid transparent;

        & > div {
            display: flex;
            align-items: center;

            a.contact-link {
                --icon: "";
                background-image: var(--icon);
                width: 1.75rem;
                height: 1.75rem;
                display: block;

                &[aria-label="linkedin"] {
                    --icon: url(../assets/icons/LinkedinLogo.svg);
                }

                &[aria-label="instagram"] {
                    --icon: url(../assets/icons/InstagramLogo.svg);
                }

                &[aria-label="github"] {
                    --icon: url(../assets/icons/github.svg);
                }

                &[aria-label="email"] {
                    --icon: url(../assets/icons/EnvelopeSimple.svg);
                }
            }

            & span {
                font: var(--text-maven-md);
                color: var(--gray-500);
                margin-left: 0.75rem;
            }
        }

        &:hover {
            border: 1.5px solid var(--blue);
            cursor: pointer;

            a.contact-link {
                &[aria-label="linkedin"] {
                    --icon: url(../assets/icons/linkedin-hover.svg);
                }

                &[aria-label="instagram"] {
                    --icon: url(../assets/icons/instagram-hover.svg);
                }

                &[aria-label="github"] {
                    --icon: url(../assets/icons/github-hover.svg);
                }

                &[aria-label="email"] {
                    --icon: url(../assets/icons/envelope-hover.svg);
                }

            }
        }
    }
}
